@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&family=Rowdies:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* Header Part : Logo, NavBar */
header {
  /* position: absolute; */
  width: 100%;
  height: 837px;
  background: #fff8f3;
  background-image: url("../images/header_bg.png"), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
  padding-top: 50px;
}
.text-primary {
  font-family: "Kaushan Script", cursive;
  color: #fd6e0a;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px;
}
.logo {
  font-family: "Kaushan Script", cursive;
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
}
.nav-bar ul {
  display: flex;
  align-items: center;
}
.btn-primary {
  /* For Button */
  height: 64px;
  background: #dc6e29;
  color: white;
  border-radius: 5px;
  border: 0;
  padding: 18px 35px;

  /* For Fonts */
  font-weight: 700;
  font-size: 20px;
}
.nav-bar ul li {
  list-style: none;
  height: 27px;
  width: 189px;
  left: 980px;
  top: 68px;
  border-radius: nullpx;
}
/* Banner */
.banner {
  display: flex;
  align-items: center;
  margin: 0px 200px;
}
.banner-title {
  font-family: "Rowdies", cursive;
  font-weight: 700;
  font-size: 85px;
  line-height: 116px;
}
.banner-sub-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  color: #474747;
  margin-bottom: 20px;
  margin-top: 150px;
}
.banner-description {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
  height: 60px;
  width: 585px;
  left: 226px;
  top: 499px;
  border-radius: nullpx;
}
.banner img {
  position: absolute;
  width: 584px;
  left: 1300px;
  top: 161px;
}

/* Main Section Parts */
main {
  max-width: 1340px;
  margin: 0 auto;
}
.about-me {
  padding: 131px 156px;
  background: #fff8f3;
  border-radius: 10px;
  margin: 130px 0px;
  margin-bottom: 30px;
}
.section-title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: #181818;
  margin-bottom: 30px;
}

.section-description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #757575;
  margin-bottom: 30px;
}
.what-i-do {
  padding: 131px 156px;
  margin-bottom: 50px;
}
.info {
  display: flex;
  justify-content: space-between;
}
.info p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  text-align: center;

  /* Dark 03 */

  color: #757575;
}
.info-span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  text-align: center;

  /* Dark 02 */

  color: #474747;
}
/* Skill Container */
.skill-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}
.skill {
  width: 267px;
  height: 377px;
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  margin-bottom: 100px;
}
.skill h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #181818;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
.skill-description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  padding-left: 30px;
  padding-right: 30px;
}
.skill img {
  margin-bottom: 30px;
  width: 44px;
  height: 44px;
  margin-left: 30px;
  margin-top: 30px;
}
.summary {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: #181818;
  margin-bottom: 133px;
}
/* Resume */
.resume {
  display: flex;
  margin-bottom: 50px;
  gap: 24px;
}
.sum-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  color: #474747;
  margin-bottom: 30px;
}
.sub-title-1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  color: #474747;
  margin-bottom: 10px;
  margin-top: 60px;
}
.sub-title-2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #757575;
  margin-bottom: 20px;
}
.sum-description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #757575;
  /* margin-bottom: 30px; */
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}
.resume-btn {
  text-align: center;
  margin-bottom: 113px;
}
/* Footer Part */
footer {
  display: flex;
  width: 100%;
  height: 780px;
  background: #fff8f3;
  justify-content: space-between;
}
footer .first {
  padding-top: 148px;
  padding-left: 230px;
}
footer .second {
  padding-top: 148px;
  padding-left: 409px;
}
.f-h {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: #181818;
  margin-bottom: 20px;
  text-align: left;
}
.f-p {
  width: 562px;
  height: 56px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #474747;
}
.footer-img {
  display: flex;
  margin-top: 30px;
}
.first a {
  text-decoration: none;
  width: 24px;
  height: 24px;
  margin-right: 24px;
}
.contact #name {
  width: 461px;
  height: 64px;
  margin-bottom: 24px;
  border-radius: 5px;
}
.contact #email {
  width: 461px;
  height: 64px;
  margin-bottom: 24px;
  border-radius: 5px;
}
.contact #text {
  width: 461px;
  height: 180px;
  margin-bottom: 24px;
  border-radius: 5px;
}
.contact input,
textarea {
  padding-left: 30px;
  font-family: "Open Sans";
  font-size: 16px;
}
